.catch-copy {
  color: #ff570d;
  background-color: papayawhip;
  height: 20px;
  padding: 0 20px;
}

.top-page-header {
  background-color: yellowgreen;
  height: calc(100px - 20px);
  padding: 0 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  color: black;
  font-size: 30px;
  font-family: 'Londrina Shadow', cursive;
}


.top-page-header-btns-wrapper {
  width: 310px;
  display: flex;
  color: white;
  font-size: 16px;
  margin-right: 0 0 0 auto;
}

.top-page-header-btn {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-left: 15px;
  padding: 0 10px;
  border: 1px solid papayawhip;
  border-radius: 5px;
}

.top-page-orders-wrapper {
  background-color: transparent;
  height: calc(100vh - 300px);
  width: 100vw;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
}

.order-wrapper {
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 10px;
  height: max-content;
}

.order-name {
  font-size: 16px;
  text-align: center;
}

.manipulate-order-btns-wrapper {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0px;
  list-style: none;
}

.destroy-order-wrapper {
  margin-top: 15px;
  margin-bottom: 2px;
}

.edit-order,
.destroy-order {
  color: white;
  text-decoration: none;
  background-color: yellowgreen;
  padding: 5px;
  border-radius: 5px;
}

.top-page-product-wrapper {
  padding-top: 20px;
}