.wrapper {
  display: flex;
}


/* サイドヘッダー */
.side-bar {
  height: 100vh;
  width: 30vw;
}

.side-bar-header {
  background-color: yellowgreen;
  height: 110px;
  padding: 0 15px;
}

.page-title {
  color: black;
  font-size: 18px;
  display: inline-block;
  border-bottom: 5px solid papayawhip;
  padding:10px;
}

.header-btn {
  color: white;
  font-size: 10px;
  padding: 10px;
  margin-left: 18vw;
  border: 1px solid papayawhip;
  border-radius: 5px;
  text-decoration: none;
}
/* サイドヘッダー */

/* 入力フォーム */
.form {
  background-color: papayawhip;
  height: calc(100vh - 110px);
  padding: 0 20px;
  text-align: center;
  overflow: scroll;
}

.product-sell-title {
  font-size: 20px;
  margin-bottom: 1vh;
  text-align: center;
}

.input-order-name {
  font-size: 16px;
  height: 5vh;
  width: 25vw;
  text-align: center;
}

.pick-products {
  border: none;
  margin: 10px 0;
}

.guid-text {
  margin: 10px 0;
}
.product-name-box-on-side-bar {
  background-color: #ffffe0;
  font-size: 16px;
  height: 5vh;
  width: 25vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.input-post {
  display: block;
  font-size: 16px;
  height: 60px;
  width: 90px;
  margin: 15px auto;
  border-radius: 10px;
  padding-top: 15px;
  color: white;
  text-decoration: none;
  background-color: tomato;
}

.input-btn {
  display: none;
}
/* 入力フォーム */


/* 料理一覧*/
.materials-all {
  width: calc(100vw - 30vw);
}

.guid-header {
  height: 20px;
  padding: 0 10px;
}

.materials-display {
  background-color: transparent;
  height: calc(100vh - 20px);
  padding: 46px 10px 10px;
  overflow: scroll;
}

.category-name {
  font-size: 16px;
  text-align: left;
  border-top: 1px dotted lightslategray;
  border-bottom: 1px solid lightslategray;
  padding: 10px;
}
/* 料理の画像と名前 */
.products-wrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.product {
  color: black;
  width: 200px;
  position: relative;
}

.product-image-wrapper {
  position: relative;
}

.product-id {
  display: none;
  position: absolute;
    top: 70px;
    left: 70px;
}

.product-name {
  font-size: 14px;
  width: 100%;
  text-align: center;
}
/* 料理の画像と名前 */
/* 料理一覧 */