      <div class='material'>
        <%= image_tag material.image.variant(resize: '200x200'), class:'material-image' if material.image.attached? %> 
        <div class='text' >
          <div class='material-name'>
            <%= material.name %>
          </div>
        </div>
      </div>