  <% for i in 2..9 do %>
    <div class='category-name'><%= Category.data[i - 1][:name] %></div>
    <div class='materials-wrapper'>
      <% @materials.where(category_id: i).each do |material| %>
        <%= render partial: 'shared/material', locals: { material: material } %>
      <% end %>
    </div>
  <% end %>