  <% for i in 2..Sort.data.size do %>
    <div class='sort-name'><%= Sort.data[i - 1][:name] %></div>
    <div class='products-wrapper'>
      <% @products.where(sort_id: i).each do |product| %>
        <%= render partial: 'shared/product', locals: { product: product } %>
      <% end %>
    </div>
  <% end %>
