<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'side_bar' %> 
  </div>
  <div class='products-all'>
    <div class='guid-header'>
      <%= render 'guid_header' %>
    </div>
    <div class='products-display'>
      <%= render 'shared/products_display' %>
    </div>
  </div>
</div>