.catch-copy {
  color: #ff570d;
  background-color: papayawhip;
  height: 20px;
  padding: 0 20px;
}

.material-edit-header {
  background-color: #ff773e;
  height: calc(100px - 20px);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.page-title {
  color: black;
  font-size: 18px;
  display: inline-block;
  border-bottom: 5px solid papayawhip;
  padding:10px;
}

.material-form {
  background-color: papayawhip;
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0 20px;
}

.material-sell-title {
  font-size: 20px;
  margin-bottom: 3vh;
}

/* 入力案内文 */
.guid-text {
  font-size: 16px;
  text-align: center;
}
/* 入力案内文 */

/* 画像入力ボタン */
.click-upload {
  display: block;
  font-size: 16px;
  height: 30px;
  width: 180px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  background-color: #228B22;
}

.image-btn {
  display: none;
}

/* 入力欄 */
.material-text {
  font-size: 16px;
  width: 30vw;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 16px 16px 8px;
  text-align: center;
}

.material-options {
  font-size: 16px;
  height: 20vh;
  width:40vw;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 20px;
}
/* 入力欄 */

/* 登録ボタン */
.input-post {
  display: block;
  font-size: 16px;
  height: 60px;
  width: 80px;
  margin-top: 15px;
  border-radius: 10px;
  padding-top: 15px;
  color: white;
  text-decoration: none;
  background-color: tomato;
  text-align: center;
}

.input-btn {
  display: none;
