.materials-index-header {
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 500;
}

.catch-copy {
  color: #ff570d;
  background-color: papayawhip;
  height: 20px;
  padding: 0 20px;
}

.materials-index-header-main {
  background-color: palevioletred;
  height: calc(100px - 20px);
  width: 100vw; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.materials-index-page-title {
  font-size: 18px;
  display: inline-block;
  border-bottom: 5px solid papayawhip;
  padding:10px;
}

.materials-index-header-btns-wrapper {
  width: 310px;
  display: flex;
  margin: 0 0 0 auto;
}

.materials-index-header-btn {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-left: 15px;
  padding: 0 10px;
  border: 1px solid papayawhip;
  border-radius: 5px;
}

/* 食材一覧 */
.materials-display {
  background-color: transparent;
  height: calc(100vh - 100px);
  width: 100vw;
  padding: 10px 20px;
  margin-top: 60px;
  overflow: scroll;
  z-index: 0;
}

.category-name {
  font-size: 16px;
  text-align: left;
  border-top: 1px dotted lightslategray;
  border-bottom: 1px solid lightslategray;
  padding: 10px;
}
/* 食材の画像と名前 */
.materials-wrapper {
  min-height: 200px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.material {
  color: black;
  width: 200px;
  margin: 0 10px;
}

.material-image-wrapper {
  position: relative;
}

.manipulate-list {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.edit-material {
  margin-right: 10px;
}

.material-name {
  font-size: 14px;
  width: 50%;
  text-align: center;
}
/* 食材の画像と名前*/
/* 食材一覧*/