/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

/**
002
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
003
 * http://cssreset.com
004
 * Copyright 2012 Yahoo! Inc. All rights reserved.
005
 * http://yuilibrary.com/license/
006
 */
 007
 /*
 008
     TODO will need to remove settings on HTML since we can't namespace it.
 009
     TODO with the prefix, should I group by selector or property for weight savings?
 010
 */
 011
 html{
 012
     color:#000;
 013
     background:#FFF;
 014
 }
 015
 /*
 016
     TODO remove settings on BODY since we can't namespace it.
 017
 */
 018
 /*
 019
     TODO test putting a class on HEAD.
 020
         - Fails on FF.
 021
 */
 022
 body,
 023
 div,
 024
 dl,
 025
 dt,
 026
 dd,
 027
 ul,
 028
 ol,
 029
 li,
 030
 h1,
 031
 h2,
 032
 h3,
 033
 h4,
 034
 h5,
 035
 h6,
 036
 pre,
 037
 code,
 038
 form,
 039
 fieldset,
 040
 legend,
 041
 input,
 042
 textarea,
 043
 p,
 044
 blockquote,
 045
 th,
 046
 td {
 047
     margin:0;
 048
     padding:0;
 049
 }
 050
 table {
 051
     border-collapse:collapse;
 052
     border-spacing:0;
 053
 }
 054
 fieldset,
 055
 img {
 056
     border:0;
 057
 }
 058
 /*
 059
     TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
 060
 */
 061
 address,
 062
 caption,
 063
 cite,
 064
 code,
 065
 dfn,
 066
 em,
 067
 strong,
 068
 th,
 069
 var {
 070
     font-style:normal;
 071
     font-weight:normal;
 072
 }
 073
  
 074
 ol,
 075
 ul {
 076
     list-style:none;
 077
 }
 078
  
 079
 caption,
 080
 th {
 081
     text-align:left;
 082
 }
 083
 h1,
 084
 h2,
 085
 h3,
 086
 h4,
 087
 h5,
 088
 h6 {
 089
     font-size:100%;
 090
     font-weight:normal;
 091
 }
 092
 q:before,
 093
 q:after {
 094
     content:'';
 095
 }
 096
 abbr,
 097
 acronym {
 098
     border:0;
 099
     font-variant:normal;
 100
 }
 101
 /* to preserve line-height and selector appearance */
 102
 sup {
 103
     vertical-align:text-top;
 104
 }
 105
 sub {
 106
     vertical-align:text-bottom;
 107
 }
 108
 input,
 109
 textarea,
 110
 select {
 111
     font-family:inherit;
 112
     font-size:inherit;
 113
     font-weight:inherit;
 114
 }
 115
 /*to enable resizing for IE*/
 116
 input,
 117
 textarea,
 118
 select {
 119
     *font-size:100%;
 120
 }
 121
 /*because legend doesn't inherit in IE */
 122
 legend {
 123
     color:#000;
 124
 }
 125
 /* YUI CSS Detection Stamp */
 126
 #yui3-css-stamp.cssreset { display: none; }
 