<div class='catch-copy'>
  買い物を見通しよく
</div>
<div class='material-edit-header'>
  <div class='page-title'>食材の情報を編集する</div>
  <div class='header-btn-wrapper'>
    <a href="/materials" class='header-btn'>食材一覧へ戻る</a>
  </div>
</div>

<div class='material-form'>
  <%= render "material_form" %>
</div>