<div class='header'>
  <h1>食材一覧</h1>
  <div class='header_btns'>
    <a href="/materials/new" class='header_btn'>食材登録</a>
    <a href="#" class='header_btn'>オーダー一覧</a>
    <a href="#" class='header_btn'>買い物リスト</a>
  </div>
</div>
<div class='main'>
  <div class='category'>
    <p>肉類・魚類・大豆製品</p>
    <p>乳製品・海藻・小魚類</p>
    <p>緑黄色野菜</p>
    <p>淡色野菜・果物</p>
    <p>穀類・芋類・砂糖</p>
    <p>油脂類</p>
    <p>その他</p> 
  </div>
</div>