<div class='catch-copy'>
  買い物を見通しよく
</div>
<div class='material-index-header'>
  <div class='material-index-page-title'>
    食材一覧
  </div>
  <div class='material-index-header-btns-wrapper'>
    <a href="/materials/new" class='material-index-header-btn'>食材登録</a>
    <a href="/" class='material-index-header-btn'>献立一覧</a>
    <a href="/products" class='material-index-header-btn'>料理一覧</a>
    <a href="/orders/tally" class='material-index-header-btn'>買い物リスト</a>
  </div>
</div>
<div class='materials-diplay'>
  <%= render 'shared/materials_display' %>
</div>