<div class='header'>
  <h1>食材登録</h1>
  <div class='header_btns'>
    <a href="/materials" class='header_btn'>食材一覧へ戻る</a>
  </div>
</div>

<div class='main'>
  <%= render "shared/material_form" %>
</div>