<div class='wrapper'>
  <div class='side-bar'>
    <%= render 'side_bar' %> 
  </div>
  <div class='materials-all'>
    <div class='guid-header'>
      料理に使う食材の画像をクリックしてください
    </div>
    <div class='materials-display'>
      <%= render 'shared/materials_display' %>
    </div>
  </div>
</div>