  <div class='index-header'>
    <div class='index-page-title'>
      料理一覧
    </div>
    <div class='index-header-btns'>
       <a href="/products/new" class='index-header-btn'>料理登録</a>
       <a href="/" class='index-header-btn'>献立一覧</a>
       <a href="#" class='index-header-btn'>買い物リスト</a>
    </div>
  </div>
  <div class='products-diplay'>
    <%= render 'shared/products_display' %>
  </div>