.catch-copy {
  color: #ff570d;
  background-color: papayawhip;
  height: 20px;
  padding: 0 20px;
}

.index-header {
  background-color: yellowgreen;
  height: calc(100px - 20px);
  width: 100vw; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.index-page-title {
  font-size: 18px;
  display: inline-block;
  border-bottom: 5px solid papayawhip;
  padding:10px;
}

.index-header-btns {
  width: 70vw;
  display: flex;
}

.index-header-btn {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-left: 30px;
  padding: 0 20px;
  border: 1px solid papayawhip;
  border-radius: 5px;
}

/* 料理一覧 */
.products-display {
  background-color: transparent;
  height: calc(100vh - 100px);
  width: 100vw;
  padding: 46px 20px 10px;
  overflow: scroll;
}

.sort-name {
  font-size: 16px;
  text-align: left;
  border-top: 1px dotted lightslategray;
  border-bottom: 1px solid lightslategray;
  padding: 10px;
}
/* 料理の画像と名前 */     
.products-wrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
}

.product {
  color: black;
  width: 200px;
  margin: 0 10px;
}

.product-image-wrapper {
  position: relative;
}

.show-product {
  color: white;
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.product-name {
  font-size: 14px;
  width: 100%;
  text-align: center;
}
/* 料理の画像と名前*/
/* 料理一覧*/